<template>
  <section class="my-10">
    <VContainer>
      <VRow>
        <VCol>
          <h1>Группы задач</h1>
        </VCol>
        <VCol cols="auto">
          <dialogForm
            view="group"
            @dialog:submit="createdGroupTodos"
          >
            <template v-slot:activator="{ on, attrs }">
              <VBtn
                color="deep-purple accent-4"
                dark
                v-bind="attrs"
                v-on="on"
              >
                <v-icon left>mdi-plus</v-icon>
                Добавить новую группу
              </VBtn>
            </template>
          </dialogForm>
        </VCol>
      </VRow>
    </VContainer>

    <GroupList class="py-10" />
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import dialogForm from '@/components/dialogForm.vue';
import GroupList from '@/components/groupList.vue';

export default {
  name: 'Groups',
  components: {
    dialogForm,
    GroupList,
  },
  computed: {
    ...mapGetters([
      'nextGroupIndex',
    ]),
  },
  methods: {
    ...mapActions([
      'addNewGroup',
    ]),
    createdGroupTodos({ title, image }) {
      const newGroup = {
        id: this.nextGroupIndex,
        title,
        srcImg: image,
      };

      this.addNewGroup(newGroup);
    },
  },
};
</script>
