<template>
  <section class="my-10">
    <VContainer>
      <VRow class="mb-4">
        <VCol>
          <h1>{{ groupData.title }}</h1>
        </VCol>
        <VCol cols="auto">
          <dialogForm
            view="todos"
            @dialog:submit="createTodo"
          >
            <template v-slot:activator="{ on, attrs }">
              <VBtn
                color="deep-purple accent-4"
                dark
                v-bind="attrs"
                v-on="on"
              >
                <VIcon left>mdi-plus</VIcon>
                Добавить новую задачу
              </VBtn>
            </template>
          </dialogForm>
        </VCol>
      </VRow>

      <VList>
        <VListItemGroup
          v-model="selectedTodos"
          multiple
          color="indigo"
        >
          <VListItem
            v-for="todo in todos"
            :value="todo.id"
            :key="`item-${todo.id}`"
            @change="toggleTodoCompleted(todo.id)"
          >
            <template v-slot:default="{ active }">
              <VListItemAction>
                <VCheckbox
                  :input-value="active"
                />
              </VListItemAction>

              <VListItemContent>
                <VListItemTitle v-text="todo.title" />
              </VListItemContent>
            </template>
          </VListItem>
        </VListItemGroup>
      </VList>
    </VContainer>
  </section>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import dialogForm from '@/components/dialogForm.vue';

export default {
  name: 'Todos',
  data: () => ({
    groupData: {},
    todos: [],
    selectedTodos: [],
  }),
  mounted() {
    const idGroup = this.$route.params.id;

    this.groupData = this.getGroupById(idGroup);
    this.selectedTodos = this.getActiveTodosByGroupId(idGroup);

    this.updateTodos();
  },
  components: {
    dialogForm,
  },
  computed: {
    ...mapGetters([
      'allTodos',
      'nextTodoIndex',
      'getGroupById',
      'getTodosByGroupId',
      'getActiveTodosByGroupId',
    ]),
  },
  methods: {
    ...mapActions([
      'addNewTodo',
      'toggleTodoCompleted',
    ]),
    updateTodos() {
      this.todos = this.getTodosByGroupId(this.groupData.id);
    },
    createTodo({ title }) {
      const newTodo = {
        id: this.nextTodoIndex,
        groupId: this.groupData.id,
        title,
        completed: false,
      };

      this.addNewTodo(newTodo);
      this.updateTodos();
    },
  },
};
</script>
