<template>
    <div>
        <VDialog
            v-model="isOpen"
            @click:outside="closeDialog"
            max-width="600px"
        >
            <template v-slot:activator="{ on, attrs }">
                <slot name="activator" v-bind="{ on, attrs }"></slot>
            </template>

            <VForm
                ref="form"
                v-model="isValid"
                @submit.prevent="handleSubmitForm"
            >
                <VCard>
                    <template
                        v-if="view === 'group'"
                    >
                        <VCardTitle class="text-h5">
                            Добавить новую группу
                        </VCardTitle>
                        <VCardText>
                            <VTextField
                                v-model="inputTitle"
                                :rules="inputRules"
                                label="Название группы*"
                                required
                            ></VTextField>
                            <VTextField
                                v-model="inputImage"
                                label="Путь к изображению*"
                                required
                            ></VTextField>
                        </VCardText>
                    </template>

                    <template
                        v-else-if="view === 'todos'"
                    >
                        <VCardTitle class="text-h5">
                            Добавить новую задачу
                        </VCardTitle>
                        <VCardText>
                            <VTextField
                                v-model="inputTitle"
                                :rules="inputRules"
                                label="Заголовок задачи*"
                                required
                            ></VTextField>
                        </VCardText>
                    </template>

                    <VCardActions>
                        <VSpacer />
                        <VBtn
                            color="blue darken-1"
                            text
                            @click="closeDialog"
                        >
                            Отменить
                        </VBtn>
                        <VBtn
                            type="submit"
                            color="success"
                        >
                            Создать
                        </VBtn>
                    </VCardActions>
                </VCard>
            </VForm>
        </VDialog>
    </div>
</template>

<script>
export default {
    props: {
        view: {
            type: String,
            default: 'group', // group || todos
        },
    },
    data: () => ({
        isOpen: false,
        isValid: false,
        inputTitle: '',
        inputImage: 'https://cdn.vuetifyjs.com/images/cards/plane.jpg',
        inputRules: [v => !!v || 'Обязательное поле'],
    }),
    methods: {
        closeDialog() {
            this.isOpen = false;
            this.$refs.form.resetValidation();
        },
        handleSubmitForm(event) {
            this.$refs.form.validate();

            if (this.isValid) {
                this.isOpen = false;
                this.$refs.form.resetValidation();

                this.$emit('dialog:submit', {
                    event,
                    title: this.inputTitle,
                    image: this.inputImage,
                });

                this.inputTitle = '';
            }
        },
    },
};
</script>
