<template>
    <VContainer>
        <VRow>
            <VCol
                v-for="group in allGroups"
                :key="group.id"
                :cols="4"
            >
                <VCard>
                    <VImg
                        :src="group.srcImg"
                        class="white--text align-end"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                        height="200px"
                    >
                        <VCardTitle>
                            <RouterLink
                                :to="`/todos/${group.id}`"
                                class="stretched-link"
                            >
                                {{ group.title }}
                            </RouterLink>
                        </VCardTitle>
                    </VImg>

                    <VCardActions>
                        <VSpacer />
                        <VBtn
                            icon
                            @click="deleteGroup(group.id)"
                        >
                            <VIcon>mdi-delete</VIcon>
                        </VBtn>
                    </VCardActions>
                </VCard>
            </VCol>
        </VRow>
    </VContainer>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: 'GroupList',
    computed: {
        ...mapGetters([
            'allGroups',
        ]),
    },
    methods: {
        ...mapActions([
            'deleteGroup',
        ]),
    },
};
</script>

<style scoped lang="scss">
.stretched-link {
  color: currentColor;
  text-decoration-line: none;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
</style>
