<template>
    <v-app>

        <v-app-bar color="deep-purple accent-4" dark dense app>
            <v-container>
                <router-link to="/" class="nav-link">Главная</router-link>
            </v-container>
        </v-app-bar>

        <v-main>
            <router-view/>
        </v-main>

    </v-app>
</template>

<style scoped lang="scss">
.nav-link {
  color: #fff;
  text-decoration-line: none;
}
</style>
